@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.card-container {
  font-family: "Press Start 2P", system-ui;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  grid-auto-flow: row;
  border: 1px solid white;
}
