@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.card-container {
  font-family: "Press Start 2P", system-ui;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 45px 30px;
  grid-auto-flow: row;
}
