@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");

.header {
  font-family: "DynaPuff", system-ui;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-inline: 1rem;
}

h1 {
  font-size: clamp(2rem, 1.6522rem + 1.7391vw, 3rem);
}

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: clamp(1.25rem, 1.163rem + 0.4348vw, 1.5rem);

  p {
    color: white;
    span {
      margin-right: 0.25em;
    }
  }
}

@media (max-width: 48em) {
  .header {
    flex-direction: column;
    gap: 3rem;
  }
}
