#root {
  margin: 0 auto;
  padding-inline: clamp(1rem, 0.6522rem + 1.7391vw, 2rem);
  padding-block: 2rem;
  text-align: center;
}

@media (max-width: 632px) {
  body {
    display: grid;
    place-items: center;
  }
}
